{{ template "base" .}}

{{define "content"}}

<div class="container">
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <div class="mb-3">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <label for="email" class="form-label">Email</label>
            {{with .Form.Errors.Get "email"}}
            <label for="" class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" value="" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" id="email" name="email">
          </div>

          <div class="mb-3">
        
            <label for="password" class="form-label">Password</label>
            {{with .Form.Errors.Get "password"}}
            <label for="" class="text-danger">{{.}}</label>
            {{end}}
            <input type="password" value="" class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}" id="password" name="password">
          </div>

          <hr>

          <input type="submit" class="btn btn-primary" value="Submit">


    </form>
    
</div>
{{end}}
