{{ template "base" .}}

{{define "content"}}

<div class="container">
    <div class="roe">
        <h1>Reservation page</h1>
        <hr>
        {{$res := index .Data "reservation"}}
        <table class="table tabke-striped">
            <th></th>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{$res.FirstName}} {{$res.LastName}}</td>
                </tr>
                <tr>
                    <td>Arrival</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Departure</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{$res.Email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{$res.Phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}
